apiVersion: apps/v1
kind: Deployment
metadata:
  name: kibana
spec:
  selector:
    matchLabels:
      component: kibana
  template:
    metadata:
      labels:
        component: kibana
    spec:
      containers:
      - name: kibana
        image: kibana:7.8.0
        env:
          - name: ELASTICSEARCH_URL
            value: http://elasticsearch:{{ elastic_nodeport }}
          - name: XPACK_SECURITY_ENABLED
            value: "true"
        ports:
          - containerPort: 5601
            name: kibana
        resources:
          requests:
            memory: 1Gi
            cpu: 0.5
          limits:
            memory: 2Gi
            cpu: 2
