apiVersion: apps/v1
kind: Deployment
metadata:
  name: elasticsearch
  annotations:
    configmap.reloader.stakater.com/reload: "elastic-config"
spec:
  selector:
    matchLabels:
      component: elasticsearch
  template:
    metadata:
      labels:
        component: elasticsearch
    spec:
      containers:
        - name: elasticsearch
          image: elasticsearch:7.8.0
          env:
            - name: discovery.type
              value: single-node
          ports:
            - containerPort: 9200
              name: elastic
          livenessProbe:
            httpGet:
              port: elastic
              path: /_cluster/health
            initialDelaySeconds: 40
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /_cluster/health
              port: elastic
            initialDelaySeconds: 30
            timeoutSeconds: 10
          resources:
            requests:
              memory: 4Gi
              cpu: 0.5
            limits:
              memory: 4Gi
              cpu: 2
          volumeMounts:
            - name: elastic-config 
              mountPath: /usr/share/elasticsearch/config/elasticsearch.yml
              subPath: elasticsearch.yml
      volumes:
        - name: elastic-config
          configMap:
            name: elastic-config

