apiVersion: v1
kind: ConfigMap
metadata:
  name: elastic-config
  namespace: default
data:
  elasticsearch.yml: |
    cluster.name: "docker-cluster"
    network.host: 0.0.0.0
    discovery.zen.minimum_master_nodes: 1
    xpack.license.self_generated.type: basic
    name: "Yasaswi"
