apiVersion: v1
kind: ConfigMap
metadata:
  name: logstash-pipeline
  namespace: default
data:
  logstash.conf: |
    input {
      beats {
        port => "5044"
      }
    }
     
    output {
      elasticsearch {
        hosts => ["http://{{ minikube_ip }}:{{ elastic_nodeport }}"]
        index => "%{[@metadata][beat]}-%{[@metadata][version]}-%{+YYYY.MM.dd}"
      }
      stdout {
        codec => rubydebug
      }
    }      
